.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 1400px;
  margin: 20px auto 0;
}

.basket {
  background-color: Transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  overflow: hidden;
  height: 50px;
  width: 50px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQM74GmSjbCjwXH2GPH9gAc-_52d8r0wHFd1w&usqp=CAU");
}