body {
  width: 1400px;
  margin: 20px auto 0;

}

.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.button-favorite {
  height: 40px;
}

.basket {
  position: relative;
  background-size: cover;
  border: none;
  height: 70px;
  width: 70px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT66zUyMEtk2GbDtlojNGA1CpjSVjNdQkgQvw&usqp=CAU");
  &:active {
    height: 69px;
    width: 69px;
  }
}

.basket-number {
  position: absolute;
  top: 30px;
  right: 25px;
  background-color: #FFDD00FF;
  border-radius: 50px;
  padding: 2px;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
  text-align: center;
}