.icon-delete {
  height: 30px;
  width: 30px;
  border: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  background-image: url("https://cdn-icons.flaticon.com/png/512/3482/premium/3482248.png?token=exp=1640889347~hmac=256ede6476c8a052948eb23c0fbf1c12");
}
