.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.favorite {
  position: relative;
  background-size: cover;
  border: none;
  height: 70px;
  width: 70px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZWtJs0SzAFyLz_vw8JrARLjlkBrYkahdbcTD2FFoPz8Z7F5f8dX0VmNH4ZeLFuCS1ggU&usqp=CAU");

  &:active {
    height: 69px;
    width: 69px;
  }
}

.productList {
  position: relative;
  background-size: cover;
  border: none;
  height: 70px;
  width: 70px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaFm-fVCS3hUsCZyFo_8e4fobOvwRN-w4PVWAriAmN6A7tYEGMjP6vX6lRuz5wxV9JBps&usqp=CAU");

  &:active {
    height: 69px;
    width: 69px;
  }
}

.basket {
  position: relative;
  background-size: cover;
  border: none;
  height: 70px;
  width: 70px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT66zUyMEtk2GbDtlojNGA1CpjSVjNdQkgQvw&usqp=CAU");

  &:active {
    height: 69px;
    width: 69px;
  }
}

.icon-number {
  position: absolute;
  top: 30px;
  background-color: #FFDD00FF;
  border-radius: 50px;
  padding: 2px;
}
button:hover {
  cursor: pointer;
}