@import 'global';

.recent-posts__title {
  margin-top: 38px;
  @include font-weight-bold;
  font-size: 14px;
  line-height: 22px;
  color: #4E4E4E;
  @media (min-width: 768px) {
    font-size: 16px;
    margin-top: 38px;
  }
}

.recent-posts {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  @media (min-width: 768px) {
  }
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }
}

.recent-posts__block {
  margin-top: 25px;
  @media (min-width: 768px) {
    margin-top: 32px;
    display: flex;
    width: 560px;
  }

}

.recent-posts__block-max-des {
  display: none;
  @media (min-width: 768px) {
    display: flex;
  }
}

.content-max-desktop {
  display: none;
  @include font-weight-normal;
  font-size: 14px;
  line-height: 26px;
  color: #5C5C5C;
  @media (min-width: 768px) {
    display: block;
  }
}

.recent-posts__block__title {
  @include font-weight-bold;
  font-size: 14px;
  line-height: 30px;
  color: #4E4E4E;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.recent-posts__block__content {
  margin-top: 11px;
  @media (min-width: 768px) {
    margin-left: 21px;
  }
}

.recent-posts__block-text-journal, .recent-posts__block-text-comment {
  @include font-weight-normal;
  font-size: 11px;
  line-height: 20px;
  display: inline-block;
  color: #7C7C7C;
  @media (min-width: 768px) {
    font-size: 12px;
  }
}

.recent-posts__block-text-journal::after {
  content: '/';
  padding-left: 10px;
  padding-right: 5px;
}