.card {
  border: 1px solid #b6b5b5;
  min-width: 200px;
  text-align: center;
  width: 250px;
  margin-bottom: 20px;
  border-radius: 6px;

  &-article {
    text-align: right;
    margin: 10px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.54);
  }
}

.favorite-icon {
  background-color: Transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  overflow: hidden;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  background-image: url("https://img.icons8.com/ios/500/star--v1.png");
}

.icon-color {
  background-color: Transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  overflow: hidden;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  background-image: url("https://s1.iconbird.com/ico/2014/1/617/w512h5121390853522christmasstar512.png");
}