ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
}

.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #d9d5d0;
    cursor: pointer;
}

.active-tab {
    background-color: #629341;
    color: #23201D;
}

.tabs-text {
    display: none;
}

.active-text {
    display: block;
    color: #0A162F;
}