.content {
    max-width: 1160px;
    margin: 0 auto;
}

.the-ham {
    background-image: url("../img/sections-background/section-1(header).jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

header {
    /*height: 120px;*/
}
















































