.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.card {
  border: 1px solid #000000;
  min-width: 200px;
  text-align: center;

  &-article {
    text-align: right;
    margin: 10px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.54);
  }
}