@import 'global';

.header {
  position: relative;
}

.header__nav__burger-menu {
  background-image: url("../img/header/burger-menu.png");
  position: absolute;
  height: 37px;
  width: 43px;
  right: 0;
  top: 23px;
  @media (min-width: 768px) {
    display: none;
  }
}

.burger-menu-active {
  background-image: url("../img/header/burger-menu-active.png");
}

.header__nav__list {
  display: none;
  position: absolute;
  right: 0;
  top: 60px;

  &-active {
    display: block;
    height: 208px;
    width: 182px;
    background-color: #F5F5F5;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    color: #4E4E4E;
    @media (min-width: 768px) {
      background-color: #FFFFFF;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 609px;
    height: 22px;
    align-items: center;
    top: 41px;
    margin: 0 auto;
  }
  @media (min-width: 1200px) {
    width: 813px;
  }

  &__menu {
    padding: 4px 0 3px 15px;

    &:hover {
      color: #57A4A4;
    }
  }
}



